 :root {
    --primary-text-colour: #757575;
    --title-text-colour: #212121; 
    --accent-text-colour: #2196F3;
    --object-colour: #FFFFFF;
    --secondary-background-colour: #2F303A;
    --variative-backgroung-colour:#F5F4FA;
    --icons-colour: rgba(175, 177, 184, 1); 
}
