.team {
    background-color: var(--variative-backgroung-colour);
}


.card__name {
    color: var(--title-text-colour);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;   
      
}
.card__job {
    font-size: 16px;
    line-height: 1.18;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 16px;
     
}
.team__list {
     @media screen and (min-width: 768px) {
   display: flex;
   flex-wrap: wrap;
   
   margin-right: -30px; 
}
   @media screen and (min-width: 1200px) {
margin-top: -30px;
}
 
    

}
.team__item {
    margin-top: 30px;
       @media screen and (min-width: 768px) {
  margin-right: 30px;
  flex-basis: calc((100% - 60px) / 2);
}
      @media screen and (min-width: 1200px) {
  
  flex-basis: calc((100% - 120px) / 4);

  }
    
}
    
.card__content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    background: var(--object-colour);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}


  
